<div style="padding:50px;">
<h3>Question and Answer</h3>


<h5>Q1.</h5>
<p><strong>flatMap: </strong></p>
<p>flatMap is used to flatten an array of arrays into a single array.</p>


<p><strong>swicthMap: </strong></p>
<p>SwitchMap is a flattening operator that involves two observables, an outer observable and an inner observable.</p>

<p><strong>exhaustMap: </strong></p>
<p>Projects each source value to an Observable which is merged in the output Observable only if the previous projected Observable has completed.</p>


<p><strong>concatMap: </strong></p>
<p>concatMap takes value from each form and transforms it into a save HTTP Observable which is called an inner Observable and then subscribes to the inner Observable and sends its output to the result Observable a second form value might come faster than what it takes to save the previous form value in the backend. If that happens, that new form value will not be immediately mapped to an HTTP request</p>

<h5>Q2.</h5>
<p><strong>ViewEncapsulation</strong></p>
<p>Defines template and style encapsulation options available for Component's Component.</p>
</div>